<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Assignment2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>edu.neu.csye6220.servlets.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewApplication</servlet-name>
    <servlet-class>edu.neu.csye6220.servlets.NewApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewApplication</servlet-name>
    <url-pattern>/NewApplication/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>SearchServlet</servlet-name>
  <servlet-class>edu.neu.csye6220.servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SearchServlet</servlet-name>
  <url-pattern>/SearchServlet/*</url-pattern>
  </servlet-mapping>
</web-app>